h1 {
  text-align: center;
}

h2 {
  margin: 10px;
}

body {
  padding: 1em;
}

.test{
  flex-basis: 20%;
}

.fullwidth {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.answer {
  background-color: lime;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  border-radius: 12px;
}
